#clickBody{
    margin-top: 100px;
    text-align: center;
}
table {
    margin: auto;
    border-collapse:collapse;
    border-style:none;
    padding:0px;
}
tr, td{
    padding:0px;
}
img {
    width: 350px;
}

#menu {
    width: 200px;
    background-color: lightcoral;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 70px;
    margin-top:50px;
    margin-bottom:20px;
}

#menu:hover {
    background-color: red;
    color: yellow;
    font-weight: bolder;
}

#head{
    height: 40px;
    width: auto;
}
#ment, #arm, #leg, #stomach, #haed{
    width: 200px;
    height: auto;
}
