#clickBody{
    margin-top: 100px;
    text-align: center;
}
table {
    margin: auto;
    border-collapse:collapse;
    border-style:none;
    padding:0px;
}
tr, td{
    padding:0px;
}
img {
    width: 350px;
}

#menu {
    width: 80px;
    height: 15px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:50px;
    margin-bottom:20px;
    margin-left: 70px;
    font-size: small;
}

#menu:hover {
    color: rgb(200, 54, 54);
    font-weight: bolder;
}

#head{
    height: 50px;
    width: auto;
    display: block;
    margin: auto;
}
#ment, #arm, #leg, #stomach{
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
}
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}

#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}