*{
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}
h2 {
    text-align: center;
    color: rgb(200, 54, 54);
}
table{
    border-collapse:collapse;
    width: 300px;
    margin: auto;
    border: 1px dotted blue;
}

tr,td {
    border: 1px dotted blue;
}

#container {
    margin-top: 100px;
}

#question {
    height: 200px;
    width: 150px;
}
#wrong, #right{
    width: 50%;
    font-size: 4em;
    height: 100px;
}
#wrong:hover{
    color: rgb(200, 54, 54);
}
#right:hover{
    color: rgb(200, 54, 54);
}

#menu {
    width: 200px;
    background-color:rgb(200, 54, 54);
    color: white;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
}

#menu:hover {
    background-color:white;
    color:rgb(200, 54, 54);
    font-weight: bolder;
}
#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}