body {
    text-align: center;
}
#historytable {
    text-align: center;
    width: 330px;
    border-collapse: collapse;
    margin-bottom:5px;
}
#historytable th, #historytable td {
    border: 1px solid #ddd;
} 
#medicinetable {
    text-align: center;
    width: 330px;
    border-collapse: collapse;
    margin-bottom:5px;
}
#medicinetable th, #medicinetable td {
    border: 1px solid #ddd;
} 
#symptomtable {
    text-align: center;
    width: 330px;
    border-collapse: collapse;
    margin-bottom:5px;
}
#symptomtable th, #symptomtable td {
    border: 1px solid #ddd;
} 
img {
    width:200px;
}
#container {
    width:330px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#bodytable {
    width:330px;
}
#symptom {
    padding-top: 30px;
    width:330px;
}
#history {
    width:330px;
}
#medicine {
    width:330px;
}
#comment {
    width: 330px;
    border: 1px solid #ddd;
}

#menu {
    width: 200px;
    background-color:  rgb(200, 54, 54);
    color: white;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

#menu:hover {
    color:  rgb(200, 54, 54);
    background-color: white;
    font-weight: bolder;
}
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}
#arm, #leg, #stomach{
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
}
table {
    margin: auto;
    border-collapse:collapse;
    
}
tr, td{
    padding:0px;
}