img{
    width: 400px;
    height: 300px;
}
table{
    text-align: center;
    margin: auto;
    height: 400px;
    width: 400px;
}
td{
    padding: 5px;
}

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150;
    margin: -75px 0 0 -75px;
    /* border: 16px solid #3498db; */
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    font-size: 60px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}