img{
    width: 400px;
    height: 300px;
}
table{
    text-align: center;
    margin: auto;
    height: 400px;
    width: 400px;
}
td{
    padding: 5px;
}

/* Loading */
.loading_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
}

/* 약 돌아가는 위치 */
.loading_box {
    position: fixed;
    top: 35%;
    left: 50%;
}

/* Loading 글씨 위치 */
.loading_box p {
    color: #000;
    transform: translate(-50%,-50%);
    animation: opacity 1s ease-in infinite;
}

/* 약 이모지 애니메이션 */
.loading_box .loading {
    font-size: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform:translate(-50%,-50%) rotate(0deg); }
    100% { transform:translate(-50%,-50%) rotate(360deg); }
}

@keyframes opacity{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
