#menu {
    background-color: rgb(200, 54, 54);
    color: white;
    width: 200px;
    font-weight: bolder;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

#menu:hover {
    color:  rgb(200, 54, 54);
    background-color: white;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin:auto;
    width: 300px;
    
}

.t, .head{
    border : 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* padding: 10px;
		color: #168;
		border-bottom: 1px solid #ddd;
		text-align: center; */

/* tr,td{
    border: 1px solid #ddd;
} */

.head{
    background-color: rgb(237, 237, 237);
    font-weight: bolder;
}

#page{

    border : 1px dotted white;
    padding: 20px;
}


.rink{
    text-decoration-line: none;
}

.rink:hover{
    text-decoration-line: underline;
    size: 80px;
}


#container {
   margin: auto;
}
#search {
    margin-top: 50px;
    text-align: center;
}
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}
#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}