#menucontainer {
    width: 250px;
    margin:auto;
    margin-top: 60px;
}
.menu {
    background-color: rgb(237, 237, 237);
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
    margin-bottom:20px;
}

#logout {
    background-color: rgb(200, 54, 54);
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
    margin-bottom:20px;
    color: white;
}

.menu:hover {
    background-color: white;
    color: rgb(200, 54, 54);
    font-weight: bolder;
}

#logout:hover {
    background-color: white;
    color: rgb(200, 54, 54);
    font-weight: bolder;
}

*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}

#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}