*{
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#login{
    text-align: center;
    margin-top: 100px;
    padding: auto;
}
form {
    margin: auto;
}
table{
    margin: auto;
    text-align: center;
}
h2{
    text-align: center;
}
#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}