/* #headache{
    width: 100px;
    height: auto;
}

table{
    text-align: center;
    margin: auto;
    column-gap: 100px;
    border-spacing: 100px;
}
#headment{
    width: 80px;
    height: auto;
}

#symptom_text{
    width: 400px;
} */
h2 {
    text-align: center;
}
table {
    border-collapse:collapse;
    margin: auto;
    border: 1px solid #ddd;
    width: 300px;
}

#container {
    margin-top: 50px;
}

tr,td {

    border : 1px solid  #ddd;
    padding: 20px;
}

#menu {
    background-color:rgb(200, 54, 54);
    color: white;
    width: 200px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
}

#menu:hover {
    background-color: white;
    color:rgb(200, 54, 54);
    font-weight: bolder;
}

.head {
    font-weight: bolder;
    background-color:rgb(238, 238, 238);
}
.blank {
    border-left: none;
    border-right: none;
    border-bottom: none;
}
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
}
#small_logo{
    height: 50px;
    width: auto;
    text-align: left;
}
#logo_small{
    height: 35px;
    width: auto;
}